header {
    padding: 40px 0 120px 0;
    background-image: url("../img/banner.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;

    &::after {
        content: "";
        background-color: #252B49;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        opacity: 0.8;
    }
}

.header_up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #BABBC5;
}

.header_burger {
    display: none;
    position: relative;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
}

.header_burger span {
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #fff;
    left: 5px;
    transition: transform .5s, opacity .5s, background-color .5s;
}

.header_burger span:nth-child(1) {
    transform: translateY(-10px);
}

.header_burger span:nth-child(3) {
    transform: translateY(10px);
}

header.open .header_burger span {
    background-color: #fff;
}

header.open .header_burger span:nth-child(1) {
    transform: translateY(0) rotate(45deg);
}

header.open .header_burger span:nth-child(2) {
    opacity: 0;
}

header.open .header_burger span:nth-child(3) {
    transform: translateY(0) rotate(-45deg);

}

.header_logo {
    padding-bottom: 36px;
}

.logo1 {
    color: #656980;
    text-align: center;
    font-family: "Raleway";
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 36px;
}

.logo2 {
    color: $white;
    text-align: center;
    font-family: "Raleway";
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 36px;
}

.header_nav {
    width: 60%;
}

.header_item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    box-sizing: border-box;
    line-height: 36px;

    li {
        width: 20%;
        text-align: center;
        margin: auto 15px;
        position: relative;
        box-sizing: border-box;
        padding-bottom: 36px;

        &:hover {
            &::after {
                @include nav_item_event;
                background-color: #BABBC5;
            }
        }

        &:active {
            &::after {
                @include nav_item_event;
                background-color: #E71414;
            }
        }
    }

    a {
        color: #fff;
        text-align: center;
        font-family: "Raleway";
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
        margin: auto;
        line-height: 36px;
        text-decoration: none;
        padding-bottom: 36px;

        &:active {
            color: #E71414;
        }
    }
}

.header_description {
    color: #FFF;
    text-align: center;
    font-family: "Raleway";
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 80px;
}

h1 {
    @include h1;
    padding: 130px 0 30px 0;
}

.button {
    @include button;

    a {
        @include button_link;
    }
}

@media (max-width: 1024px) {
    .logo1 {
        font-size: 22px;
    }

    .logo2 {
        font-size: 22px;
    }

    .header_nav {
        width: 80%;
    }

    a {
        font-size: 12px;
        white-space: nowrap;
    }

    h1 {
        font-size: 48px;
    }

    .header_description {
        font-size: 18px;
    }

    .button {
        @include button;

        a {
            @include button_link;
            width: 315px;
        }
    }
}

@media (max-width: 690px) {
    header {
        padding: 30px 0 50px 0;
    }

    .header_up {
        justify-content: space-between;
        align-items: flex-start;
    }

    .header_burger {
        display: block;
        z-index: 2;
    }

    .header_nav {
        position: absolute;
        left: -100%;
        top: -30px;
        width: 100%;
        height: 115%;
        background-color: #656980;
        padding: 30px;
        transition: transform .5s;
    }

    .header_item {
        display: flex;
        flex-direction: column;
        padding: unset;
        margin: 30px auto;

        li {
            width: 20%;
            text-align: left;
            margin: auto;
            position: relative;
            box-sizing: border-box;
            padding-bottom: 0;

            &:hover {
                &::after {
                    content: none;
                }
            }

            &:active {
                &::after {
                    content: none;
                }
            }
        }

        a {
            color: #fff;
            text-align: center;
            font-family: "Raleway";
            font-size: 18px;
            font-weight: 700;
            text-transform: uppercase;
            margin: auto;
            line-height: 36px;
            text-decoration: none;

            &:active {
                color: #E71414;
            }
        }
    }

    .header_link {
        display: block;
        color: #FFF;
        font-size: 21px;
        padding: 10px 0;
    }

    .header_logo {
        margin: auto 15px;
    }

    h1 {
        padding: 50px 0 30px;
    }

    .button {
        @include button;

        a {
            @include button_link;
            width: 280px;
        }
    }

    header.open .header_nav {
        transform: translateX(100%);
    }
}