@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
    z-index: 1;
}

p {
    margin-bottom: 0;
}

.arrow_up {
    z-index: 3;
    position: fixed;
    bottom: -50px;
    right: 50px;
    background-color: #a9a9a963;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transform: 0.4 linear;
}

.arrow_up.active {
    bottom: 50px;
    transform: 0.4 linear;
}

@media (max-width: 690px) {
    .arrowUp.active {
        right: 20px;
        bottom: 20px;
    }
}

@import "./cdn";
@import "./varibales";
@import "./mixins";
@import "./header";
@import "./easily.scss";
@import "./people.scss";
@import "./ready.scss";
@import "./location.scss";
@import "./footer.scss";
@import "./grids.scss";
@import "./slider.scss";