.slider_item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 490px;
}

.slider_img {
    width: 50%;
    min-width: 300px;
}

.slider_img img {
    display: flex;
    @include std_img;
}

.slider_text {
    padding: 120PX 0 140px;
    background-color: #5C3249;
    width: 50%;
    min-width: 300px;
}

.slider_text p {
    color: #FFF;
    font-family: "Cardo";
    font-size: 36px;
    font-weight: 400;
    text-transform: capitalize;
    display: flex;
    text-align: left;
    margin: 0 auto 30PX;
    width: 470px;
}

.slider_header {
    color: #FFF;
    font-family: "Raleway";
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    text-align: left;
    margin: auto;
    width: 470px;
}

.carousel-indicators {
    margin-bottom: -3rem;

    .slider_button {
        height: 14px;
        width: 14px;
        margin: 0 15px;
        background-color: transparent;
        border: 2px solid #5C3249;
        border-radius: 50%;
        opacity: 1;
    }

    .active {
        background-color: #5C3249;
        opacity: 1;
    }
}

@media (max-width: 1024px) {
    .slider_text {
        padding: 50px 0 130px;
    }

    .slider_item {
        height: 330px;
    }

    .slider_text p {
        font-size: 24px;
        width: 330px;
    }

    .slider_header {
        font-size: 12px;
        width: 330px;
    }

    .carousel-indicators {

        .slider_button {
            height: 10px;
            width: 10px;
        }
    }
}

@media (max-width: 575px) {
    .slider_img {
        width: 100%;
    }

    .slider_text {
        display: flex;
        width: 100%;
        padding: 60PX 0 70px;
        margin: auto;
        flex-direction: column;
    }

    .slider_item {
        height: 100%;
    }

    .slider_text p {
        font-size: 24px;
        min-width: 300px;
        text-align: center;
    }

    .slider_header {
        font-size: 12px;
        min-width: 300px;
        justify-content: center;
    }

    .carousel-indicators {
        .slider_button {
            height: 10px;
            width: 10px;
        }
    }
}